# Coleta de dados

In [1]:
# #TODO correlação com datas ->  series  temporais
# #TODO como tratar dados descritivos(opinião/review) 
# #TODO seller sem relação com nenhuma outra tabela item
# #TODO location  
# #TODO tamanho do artigo

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import matplotlib.pyplot as plt

In [3]:
customers = pd.read_csv("datasets/olist_customers_dataset.csv")
location = pd.read_csv("datasets/olist_geolocation_dataset.csv")
items = pd.read_csv("datasets/olist_order_items_dataset.csv")
payments = pd.read_csv("datasets/olist_order_payments_dataset.csv")
reviews = pd.read_csv("datasets/olist_order_reviews_dataset.csv")
orders = pd.read_csv("datasets/olist_orders_dataset.csv")
products = pd.read_csv("datasets/olist_products_dataset.csv")
sellers = pd.read_csv("datasets/olist_sellers_dataset.csv")

# Pré-Processamento dos Dados

## Definindo Tipos

In [4]:
customers.head(5)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [5]:
location.head(5)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [6]:
items.head(5)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [7]:
payments.head(5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [8]:
reviews.head(5)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [9]:
orders.head(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [10]:
products.head(5)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [11]:
payments["payment_value"].describe()

count    103886.000000
mean        154.100380
std         217.494064
min           0.000000
25%          56.790000
50%         100.000000
75%         171.837500
max       13664.080000
Name: payment_value, dtype: float64

In [12]:
items["price"].describe()

count    112650.000000
mean        120.653739
std         183.633928
min           0.850000
25%          39.900000
50%          74.990000
75%         134.900000
max        6735.000000
Name: price, dtype: float64

In [13]:
items["freight_value"].describe()

count    112650.000000
mean         19.990320
std          15.806405
min           0.000000
25%          13.080000
50%          16.260000
75%          21.150000
max         409.680000
Name: freight_value, dtype: float64

In [14]:
items.dtypes

order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

In [15]:
items["order_id"] = items["order_id"].astype("category")
items["product_id"] = items["product_id"].astype("category")
items["seller_id"] = items["seller_id"].astype("category")
items["shipping_limit_date"] = pd.to_datetime(items["shipping_limit_date"], format="%Y/%m/%d %H:%M:%S")
items.dtypes

order_id                     category
order_item_id                   int64
product_id                   category
seller_id                    category
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

In [16]:
customers.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [17]:
customers["customer_id"] = customers["customer_id"].astype("category")
customers["customer_unique_id"] = customers["customer_unique_id"].astype("category")
customers["customer_city"] = customers["customer_city"].astype("category")
customers["customer_state"] = customers["customer_state"].astype("category")
customers.dtypes

customer_id                 category
customer_unique_id          category
customer_zip_code_prefix       int64
customer_city               category
customer_state              category
dtype: object

In [18]:
location.dtypes

geolocation_zip_code_prefix      int64
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object

In [19]:
location["geolocation_city"] = location["geolocation_city"].astype("category")
location["geolocation_state"] = location["geolocation_state"].astype("category")
location.dtypes

geolocation_zip_code_prefix       int64
geolocation_lat                 float64
geolocation_lng                 float64
geolocation_city               category
geolocation_state              category
dtype: object

In [20]:
payments.dtypes

order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

In [21]:
payments["order_id"] = payments["order_id"].astype("category")
payments["payment_type"] = payments["payment_type"].astype("category")
payments.dtypes

order_id                category
payment_sequential         int64
payment_type            category
payment_installments       int64
payment_value            float64
dtype: object

In [22]:
products.dtypes

product_id                     object
product_category_name          object
product_name_lenght           float64
product_description_lenght    float64
product_photos_qty            float64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object

In [23]:
products["product_id"] = products["product_id"].astype("category")
products["product_category_name"] = products["product_category_name"].astype("category")
products.dtypes

product_id                    category
product_category_name         category
product_name_lenght            float64
product_description_lenght     float64
product_photos_qty             float64
product_weight_g               float64
product_length_cm              float64
product_height_cm              float64
product_width_cm               float64
dtype: object

In [24]:
sellers.dtypes

seller_id                 object
seller_zip_code_prefix     int64
seller_city               object
seller_state              object
dtype: object

In [25]:
sellers["seller_id"] = sellers["seller_id"].astype("category")
sellers["seller_city"] = sellers["seller_city"].astype("category")
sellers["seller_state"] = sellers["seller_state"].astype("category")
sellers.dtypes

seller_id                 category
seller_zip_code_prefix       int64
seller_city               category
seller_state              category
dtype: object

In [26]:
reviews.dtypes

review_id                  object
order_id                   object
review_score                int64
review_comment_title       object
review_comment_message     object
review_creation_date       object
review_answer_timestamp    object
dtype: object

In [27]:
reviews["review_id"] = reviews["review_id"].astype("category")
reviews["order_id"] = reviews["order_id"].astype("category")
reviews["review_comment_title"] = reviews["review_comment_title"].astype("category")
reviews["review_comment_message"] = reviews["review_comment_message"].astype("category")
reviews["review_creation_date"] = pd.to_datetime(reviews["review_creation_date"], format="%Y/%m/%d %H:%M:%S")
reviews["review_answer_timestamp"] = pd.to_datetime(reviews["review_answer_timestamp"], format="%Y/%m/%d %H:%M:%S")
reviews.dtypes

review_id                        category
order_id                         category
review_score                        int64
review_comment_title             category
review_comment_message           category
review_creation_date       datetime64[ns]
review_answer_timestamp    datetime64[ns]
dtype: object

In [28]:
reviews.shape

(99224, 7)

In [29]:
# remove reviews duplicados
reviews.sort_values(by=["review_id", "review_creation_date"], ascending=True, inplace=True)

reviews = reviews.drop_duplicates(keep="last", subset=["review_id"])
reviews.sort_values(by=["order_id", "review_creation_date"], ascending=True, inplace=True)
reviews = reviews.drop_duplicates(keep="last", subset=["order_id"])
# reviews["order_id"].duplicated().value_counts()
reviews.drop(["review_comment_title", "review_comment_message"],axis="columns", inplace=True ) 

reviews.shape

(98128, 5)

In [30]:
# remove pagamentos adicionais 
payments = payments[payments["payment_sequential"]==1] 
payments

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [31]:
items = items[items["order_item_id"]==1] 
items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [32]:
#  not in payments["order_id"] 
payment_order = pd.merge(items, orders, how="right", on = "order_id")
payment_order["order_id"].isnull().value_counts()

False    99441
Name: order_id, dtype: int64

In [33]:
# payments["order_id"].duplicated().value_counts()
payments[payments["order_id"]=="683bf306149bb869980b68d48a1bd6ab"]
# payments[(payments["order_id"].duplicated()) & (payments["order_id"]=="683bf306149bb869980b68d48a1bd6ab")]

# payments[payments["payment_type"] == "not_defined"] # -> cancelado 
# orders[orders["order_id"] == "4637ca194b6387e2d538dc89b124b0ee"]
# def agregate_total_pay(order_id):
#   def pay(x):
#     return payments["payment_type"] not in ["voucher", "not_defined"]
#   return pay
# def agregate_total_discount(order_id):
#   def pay(x):
#     return payments["payment_type"] not in ["voucher", "not_defined"]
#   return pay



# payments[(payments["payment_type"] == "credit_card") & (payments["payment_sequential"] > 1)] # -> cancelado 
# items[items["order_id"] == "332c6742772f2df936696b6512b10edb"]
# orders[payments["payment_type"]] += payments[payments["payment_type"]]["payment_value"]
# cada pedido pode ter mais de um pagamento tando (debt_card, cred_card) e (voucher, cred_card)
# products[products["product_id"] == "58f88ebb71c90b2d46a5b297ae6c3455"]
payments[payments["order_id"] == "332c6742772f2df936696b6512b10edb"]

,order_id,payment_sequential,payment_type,payment_installments,payment_value
62830,332c6742772f2df936696b6512b10edb,1,credit_card,1,8.7

In [34]:
orders.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [35]:
orders["order_id"] = orders["order_id"].astype("category")
orders["customer_id"] = orders["customer_id"].astype("category")
orders["order_status"] = orders["order_status"].astype("category")
orders["order_purchase_timestamp"] = pd.to_datetime(orders["order_purchase_timestamp"], format="%Y/%m/%d %H:%M:%S")
orders["order_approved_at"] = pd.to_datetime(orders["order_approved_at"], format="%Y/%m/%d %H:%M:%S")
orders["order_delivered_carrier_date"] = pd.to_datetime(orders["order_delivered_carrier_date"], format="%Y/%m/%d %H:%M:%S")
orders["order_delivered_customer_date"] = pd.to_datetime(orders["order_delivered_customer_date"], format="%Y/%m/%d %H:%M:%S")
orders["order_estimated_delivery_date"] = pd.to_datetime(orders["order_estimated_delivery_date"], format="%Y/%m/%d %H:%M:%S")
orders.dtypes

order_id                               category
customer_id                            category
order_status                           category
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

In [36]:
location["geolocation_city"].cat.categories

Index(['* cidade', '...arraial do cabo', '4o. centenario', '4º centenario',
       'abadia de goias', 'abadia dos dourados', 'abadiania', 'abadiânia',
       'abaete', 'abaetetuba',
       ...
       'águas vermelhas', 'águia branca', 'álvares florence',
       'álvares machado', 'álvaro de carvalho', 'áurea', 'ângulo',
       'érico cardoso', 'óbidos', 'óleo'],
      dtype='object', length=8011)

In [37]:
payments["payment_type"].cat.categories

Index(['boleto', 'credit_card', 'debit_card', 'not_defined', 'voucher'], dtype='object')

In [38]:
reviews

,review_id,order_id,review_score,review_creation_date,review_answer_timestamp
51963,97ca439bc427b48bc1cd7177abe71365,00010242fe8c5a6d1ba2dd792cb16214,5,2017-09-21,2017-09-22 10:57:03
27823,7b07bacd811c4117b742569b04ce3580,00018f77f2f0320c557190d7a144bdd3,4,2017-05-13,2017-05-15 11:34:13
4218,0c5b33dea94867d1ac402749e5438e8b,000229ec398224ef6ca0657da4fc703e,5,2018-01-23,2018-01-23 16:06:31
38844,f4028d019cb58564807486a6aaf33817,00024acbcdf0a6daa1e931b038114c75,4,2018-08-15,2018-08-15 16:39:01
55676,940144190dcba6351888cafa43f3a3a5,00042b26cf59d7ce69dfabb4e55b4fd9,5,2017-03-02,2017-03-03 10:54:59
...,...,...,...,...,...
48178,9185f849f32d82e216a4e025e0c50f5c,fffc94f6ce00a00581880bf54a75a037,5,2018-05-11,2018-05-14 12:53:47
21684,be803f6a93d64719fd685c1cc610918a,fffcd46ef2263f404302a634eb57f7eb,5,2018-07-24,2018-07-25 09:25:29
37509,dbdd81cd59a1a9f94a10a990b4d48dce,fffce4705a9662cd70adb13d4a31832d,5,2017-10-29,2017-10-29 21:33:52
50462,fba117c9ac40d41ca7be54741f471303,fffe18544ffabc95dfada21779c9644f,5,2017-08-17,2017-08-18 12:24:05
92457,b2700869a37f1aafc9dda829dc2f9027,fffe41c64501cc87c801fd61db3f6244,5,2018-06-15,2018-06-17 21:27:09

## Discretizando dados categoricos

In [39]:
products.dtypes

product_id                    category
product_category_name         category
product_name_lenght            float64
product_description_lenght     float64
product_photos_qty             float64
product_weight_g               float64
product_length_cm              float64
product_height_cm              float64
product_width_cm               float64
dtype: object

In [40]:
new_orders = pd.merge(payments, orders, how="inner", on = "order_id")
items_orders = pd.merge(new_orders, items, how="inner", on = "order_id")
reviews_orders = pd.merge(items_orders, reviews, how="inner", on = "order_id")
products_orders = pd.merge(reviews_orders, products, how="inner", on = "product_id")

seller_orders = pd.merge(products_orders, sellers, how="inner", on = "seller_id")
customers_orders = pd.merge(seller_orders, customers, how="inner", on = "customer_id")
customers_orders["order_id"] = customers_orders["order_id"].astype("category")
# customers["customer_id"] = customers["customer_unique_id"] 

print(customers_orders.dtypes)

order_id                               category
payment_sequential                        int64
payment_type                           category
payment_installments                      int64
payment_value                           float64
customer_id                            category
order_status                           category
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
order_item_id                             int64
product_id                             category
seller_id                              category
shipping_limit_date              datetime64[ns]
price                                   float64
freight_value                           float64
review_id                              category
review_score                              int64
review_creation_date             datetime64[ns]
review_answer_timestamp          datetime64[ns]
product_category_name                  category
product_name_lenght                     float64
product_description_lenght              float64
product_photos_qty                      float64
product_weight_g                        float64
product_length_cm                       float64
product_height_cm                       float64
product_width_cm                        float64
seller_zip_code_prefix                    int64
seller_city                            category
seller_state                           category
customer_unique_id                     category
customer_zip_code_prefix                  int64
customer_city                          category
customer_state                         category
dtype: object

In [41]:
customers_orders.shape

(97328, 37)

In [42]:
customers_orders["delivery_days"] = (customers_orders["order_delivered_customer_date"]-customers_orders["order_delivered_carrier_date"])
customers_orders["delivery_days"]

0        7 days 02:16:51
1        3 days 00:12:44
2       15 days 08:07:42
3       25 days 02:51:00
4        2 days 04:52:43
              ...
97323    8 days 05:24:06
97324   18 days 05:49:44
97325    3 days 06:59:55
97326                NaT
97327    3 days 05:50:01
Name: delivery_days, Length: 97328, dtype: timedelta64[ns]

In [43]:
for i in range(len(customers_orders["delivery_days"])):
    if str(customers_orders["delivery_days"][i])[0:2] == "Na":
        customers_orders["delivery_days"][i] = 0
    else:
        customers_orders["delivery_days"][i] = int(str(customers_orders["delivery_days"][i])[0:2])
print("Feito")

C:\Users\caioc\AppData\Local\Temp/ipykernel_6648/725775023.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers_orders["delivery_days"][i] = int(str(customers_orders["delivery_days"][i])[0:2])
C:\Users\caioc\AppData\Local\Temp/ipykernel_6648/725775023.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers_orders["delivery_days"][i] = 0

Feito

In [45]:
customers_orders["delivery_days"].head()

0     7
1     3
2    15
3    25
4     2
Name: delivery_days, dtype: object

In [44]:
customers_orders["days_late"] = (customers_orders["order_delivered_customer_date"]-customers_orders["order_estimated_delivery_date"])
for i in range(len(customers_orders["days_late"])):
    if str(customers_orders["days_late"][i])[0] == "-": 
        customers_orders["days_late"][i] = int(str(customers_orders["days_late"][i])[0:3])
    elif str(customers_orders["days_late"][i])[0:2] == "Na":
        customers_orders["days_late"][i] = 0
    else:
        customers_orders["days_late"][i] = int(str(customers_orders["days_late"][i])[0:2])
customers_orders["days_late"].head(50)
print("Feito")

C:\Users\caioc\AppData\Local\Temp/ipykernel_6648/1409488443.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers_orders["days_late"][i] = int(str(customers_orders["days_late"][i])[0:3])
C:\Users\caioc\AppData\Local\Temp/ipykernel_6648/1409488443.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers_orders["days_late"][i] = int(str(customers_orders["days_late"][i])[0:2])
C:\Users\caioc\AppData\Local\Temp/ipykernel_6648/1409488443.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers_orders["days_late"][i] = 0

Feito

In [46]:
customers_orders["days_late"].head()

0    -13
1    -19
2    -23
3     -8
4    -12
Name: days_late, dtype: object

In [47]:
customers_orders["estimated_days"] = (customers_orders["order_estimated_delivery_date"]-customers_orders["order_delivered_carrier_date"])
customers_orders["estimated_days"]

0       19 days 08:40:00
1       22 days 00:05:05
2       37 days 08:58:00
3       32 days 08:47:00
4       13 days 08:59:00
              ...
97323   20 days 06:27:00
97324   21 days 07:23:14
97325   12 days 11:55:00
97326                NaT
97327   18 days 15:14:46
Name: estimated_days, Length: 97328, dtype: timedelta64[ns]

In [48]:
for i in range(len(customers_orders["estimated_days"])):
    if str(customers_orders["estimated_days"][i])[0:2] == "Na":
        customers_orders["estimated_days"][i] = 0
    else:
        customers_orders["estimated_days"][i] = int(str(customers_orders["estimated_days"][i])[0:2])
print("Feito")

C:\Users\caioc\AppData\Local\Temp/ipykernel_6648/3024300869.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers_orders["estimated_days"][i] = int(str(customers_orders["estimated_days"][i])[0:2])
C:\Users\caioc\AppData\Local\Temp/ipykernel_6648/3024300869.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers_orders["estimated_days"][i] = 0

Feito

In [49]:
customers_orders["shipment_delay"] = customers_orders["order_delivered_carrier_date"] - customers_orders["shipping_limit_date"]
customers_orders["shipment_delay"]

0       -1 days +17:04:51
1       -3 days +00:44:53
2       -6 days +02:50:33
3       -3 days +03:22:44
4         0 days 20:10:53
               ...
97323   -3 days +04:02:22
97324   -6 days +13:05:21
97325   -5 days +07:29:40
97326                 NaT
97327     0 days 11:07:15
Name: shipment_delay, Length: 97328, dtype: timedelta64[ns]

In [50]:
for i in range(len(customers_orders["shipment_delay"])):
    if str(customers_orders["shipment_delay"][i])[0] == "-": 
        customers_orders["shipment_delay"][i] = int(str(customers_orders["shipment_delay"][i])[0:3])
    elif str(customers_orders["shipment_delay"][i])[0:2] == "Na":
        customers_orders["shipment_delay"][i] = 0
    else:
        customers_orders["shipment_delay"][i] = int(str(customers_orders["shipment_delay"][i])[0:2])
customers_orders["shipment_delay"].head(50)
print("Feito")

C:\Users\caioc\AppData\Local\Temp/ipykernel_6648/2975122590.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers_orders["shipment_delay"][i] = int(str(customers_orders["shipment_delay"][i])[0:3])
C:\Users\caioc\AppData\Local\Temp/ipykernel_6648/2975122590.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers_orders["shipment_delay"][i] = int(str(customers_orders["shipment_delay"][i])[0:2])
C:\Users\caioc\AppData\Local\Temp/ipykernel_6648/2975122590.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers_orders["shipment_delay"][i] = 0

Feito

In [51]:
customers_orders["days_late"] = customers_orders["days_late"].astype("int64")
customers_orders["delivery_days"] = customers_orders["delivery_days"].astype("int64")
customers_orders["estimated_days"] = customers_orders["estimated_days"].astype("int64")
customers_orders["shipment_delay"] = customers_orders["shipment_delay"].astype("int64")

In [52]:
customers_orders["delivery_days"].head()

0     7
1     3
2    15
3    25
4     2
Name: delivery_days, dtype: int64

In [53]:
filter_islate = customers_orders["days_late"] > 0
customers_orders["islate"] = filter_islate
prop = 0
for i in range(len(customers_orders["islate"])):
    if customers_orders["islate"][i] == True:
        customers_orders["islate"][i] = 1
        prop+=1
    else:
        customers_orders["islate"][i] = 0
print(prop/len(customers_orders))

C:\Users\caioc\AppData\Local\Temp/ipykernel_6648/244686767.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers_orders["islate"][i] = 0
C:\Users\caioc\Anaconda3\envs\rv\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

0.06512000657570279

In [54]:
group = customers_orders.groupby("customer_state")
group["islate"].value_counts()

customer_state  islate
AC              0            77
                1             3
AL              0           325
                1            82
AM              0           140
                1             4
AP              0            65
                1             2
BA              0          2919
                1           382
CE              0          1138
                1           174
DF              0          1986
                1           116
ES              0          1786
                1           204
GO              0          1858
                1           124
MA              0           604
                1           122
MG              0         10893
                1           504
MS              0           634
                1            68
MT              0           841
                1            51
PA              0           848
                1            98
PB              0           472
                1            52
PE              0          1475
                1           149
PI              0           416
                1            64
PR              0          4753
                1           191
RJ              0         11064
                1          1441
RN              0           433
                1            43
RO              0           236
                1             7
RR              0            41
                1             5
RS              0          5059
                1           319
SC              0          3284
                1           281
SE              0           291
                1            50
SP              0         39103
                1          1776
TO              0           249
                1            26
Name: islate, dtype: int64

In [55]:
estados = customers_orders["customer_state"].unique().sort_values()
estados

['AC', 'AL', 'AM', 'AP', 'BA', ..., 'RS', 'SC', 'SE', 'SP', 'TO']
Length: 27
Categories (27, object): ['AC', 'AL', 'AM', 'AP', ..., 'SC', 'SE', 'SP', 'TO']

In [56]:
#group2 = location.groupby("geolocation_state")
#group2["geolocation_lat"].value_counts()
lat = [-8.77,-9.71,-3.07,1.41,-12.96,-3.71,-15.83,-19.19, -16.64,  -2.55, -12.64, -20.51,-18.10,  -5.53,  -7.06, -24.89,-8.28,-8.28, -22.84,-5.22, -11.22, -30.01, 1.89, -27.33, -10.90, -23.55, -10.25]
len(lat)

27

In [57]:
lgt =[-70.55, -35.73, -61.66 -51.77 -38.51, -38.54, -47.86, -40.34, -49.31, -44.30, -55.42, -54.54, -44.38, -52.29, -35.55, -51.55, -43.68, -43.15, -36.52 -62.80, -51.22, -61.22, -49.44, -37.07, -46.64, -48.25]

In [58]:
lgt = [-70.55, -35.73, -61.66, -51.77, -38.51, -38.54, -47.86, -40.34, -49.31, -44.30, -55.42, -54.54, -44.38, -52.29, -35.55, -51.55, -35.07, -43.68, -43.15, -36.52, -62.80, -51.22, -61.22, -49.44, -37.07, -46.64, -48.25]
len(lgt)

27

In [59]:
total = []
atraso = []
sem_atraso = []
for i in range (27):
    total.append(group["islate"].value_counts()[2*i] + group["islate"].value_counts()[2*i+1])
    atraso.append(group["islate"].value_counts()[2*i+1])
    sem_atraso.append(group["islate"].value_counts()[2*i])

In [60]:
#percentual = []
#[percentual.append(atraso[i]/total[i]) for i in range (len(total))]
#len(percentual)

In [61]:
#d1 = {'col1': [1, 2], 'col2': [3, 4]}
d1 = {"states":estados,"late":atraso,"no_late":sem_atraso,"total":total,"latitude":lat,"longitude":lgt}
dataf = pd.DataFrame(data=d1)
dataf

   states  late  no_late  total  latitude  longitude
0      AC     3       77     80     -8.77     -70.55
1      AL    82      325    407     -9.71     -35.73
2      AM     4      140    144     -3.07     -61.66
3      AP     2       65     67      1.41     -51.77
4      BA   382     2919   3301    -12.96     -38.51
5      CE   174     1138   1312     -3.71     -38.54
6      DF   116     1986   2102    -15.83     -47.86
7      ES   204     1786   1990    -19.19     -40.34
8      GO   124     1858   1982    -16.64     -49.31
9      MA   122      604    726     -2.55     -44.30
10     MG   504    10893  11397    -12.64     -55.42
11     MS    68      634    702    -20.51     -54.54
12     MT    51      841    892    -18.10     -44.38
13     PA    98      848    946     -5.53     -52.29
14     PB    52      472    524     -7.06     -35.55
15     PE   149     1475   1624    -24.89     -51.55
16     PI    64      416    480     -8.28     -35.07
17     PR   191     4753   4944     -8.28     -43.68
18     RJ  1441    11064  12505    -22.84     -43.15
19     RN    43      433    476     -5.22     -36.52
20     RO     7      236    243    -11.22     -62.80
21     RR     5       41     46    -30.01     -51.22
22     RS   319     5059   5378      1.89     -61.22
23     SC   281     3284   3565    -27.33     -49.44
24     SE    50      291    341    -10.90     -37.07
25     SP  1776    39103  40879    -23.55     -46.64
26     TO    26      249    275    -10.25     -48.25

In [62]:
d1 = {"latitude":lat,"longitude":lgt}
dataf = pd.DataFrame(data=d1)
dataf

    latitude  longitude
0      -8.77     -70.55
1      -9.71     -35.73
2      -3.07     -61.66
3       1.41     -51.77
4     -12.96     -38.51
5      -3.71     -38.54
6     -15.83     -47.86
7     -19.19     -40.34
8     -16.64     -49.31
9      -2.55     -44.30
10    -12.64     -55.42
11    -20.51     -54.54
12    -18.10     -44.38
13     -5.53     -52.29
14     -7.06     -35.55
15    -24.89     -51.55
16     -8.28     -35.07
17     -8.28     -43.68
18    -22.84     -43.15
19     -5.22     -36.52
20    -11.22     -62.80
21    -30.01     -51.22
22      1.89     -61.22
23    -27.33     -49.44
24    -10.90     -37.07
25    -23.55     -46.64
26    -10.25     -48.25

In [64]:
#customers_orders["review_comment_message"].groupby("customer_state").isnull().value_counts()

In [65]:
dataf.to_csv("datasets/data_late.csv")

In [66]:
customers_orders.head(5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,seller_state,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,delivery_days,days_late,estimated_days,shipment_delay,islate
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33,0a8556ac6be836b46b3e89920d59291c,delivered,2018-04-25 22:01:49,2018-04-25 22:15:09,2018-05-02 15:20:00,...,SP,708ab75d2a007f0564aedd11139c7708,39801,teofilo otoni,MG,7,-13,19,-1,0
1,d86305c284cecff56c7ee9d3fbd4f8d6,1,credit_card,4,93.72,0e37385834260d6111727103a93e790a,delivered,2018-04-15 22:53:59,2018-04-15 23:10:32,2018-04-16 23:54:55,...,SP,550a1a0e8ad53e4147e6c761b5699c2b,14781,barretos,SP,3,-19,22,-3,0
2,5308fdab519f7478ef64894128fbbee4,1,credit_card,1,36.07,3aec6e3846fd122ac430ac1a816107a8,delivered,2018-06-02 11:51:00,2018-06-02 12:11:27,2018-06-05 15:02:00,...,SP,74fe4e106702770ef728399ce5da503a,74823,goiania,GO,15,-23,37,-6,0
3,bb54e9bf4bdb6c6391a7c6b517748b9f,1,credit_card,2,124.92,84e28130ed1fa8558f3fc843d9a906e7,delivered,2018-05-27 11:41:32,2018-05-27 11:50:16,2018-06-01 15:13:00,...,SP,da9a13d9200966b860d4a17a98fcf59b,36120,matias barbosa,MG,25,-8,32,-3,0
4,65a05062e11f3e5121cd0e0723bf765d,1,credit_card,2,123.56,2799fe5cb33f25c1336f9c810f5bab84,delivered,2018-05-28 18:25:10,2018-05-28 18:50:07,2018-06-06 15:01:00,...,SP,ca81b113dd524c7ee478cbb33306d0f1,9910,diadema,SP,2,-12,13,0,0

In [68]:
#customers_orders[["review_message"]]

In [69]:
customers_orders["code_customer_id"] = customers_orders["customer_id"].cat.codes
customers_orders["code_customer_unique_id"] = customers_orders["customer_unique_id"].cat.codes
customers_orders["code_customer_city"] = customers_orders["customer_city"].cat.codes
customers_orders["code_customer_state"] = customers_orders["customer_state"].cat.codes
customers_orders["code_order_id"] = customers_orders["order_id"].cat.codes
customers_orders["code_product_id"] = customers_orders["product_id"].cat.codes
customers_orders["code_seller_id"] = customers_orders["seller_id"].cat.codes
customers_orders["code_payment_type"] = customers_orders["payment_type"].cat.codes
customers_orders["code_review_id"] = customers_orders["review_id"].cat.codes
customers_orders["code_order_status"] = customers_orders["order_status"].cat.codes
customers_orders["code_product_category_name"] = customers_orders["product_category_name"].cat.codes
customers_orders["code_seller_city"] = customers_orders["seller_city"].cat.codes
customers_orders["code_seller_state"] = customers_orders["seller_state"].cat.codes
location["code_geolocation_city"] = location["geolocation_city"].cat.codes
location["code_geolocation_state"] = location["geolocation_state"].cat.codes

In [70]:
customers_orders.shape

(97328, 55)

In [71]:
customers_orders.dtypes

order_id                               category
payment_sequential                        int64
payment_type                           category
payment_installments                      int64
payment_value                           float64
customer_id                            category
order_status                           category
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
order_item_id                             int64
product_id                             category
seller_id                              category
shipping_limit_date              datetime64[ns]
price                                   float64
freight_value                           float64
review_id                              category
review_score                              int64
review_creation_date             datetime64[ns]
review_answer_timestamp          datetime64[ns]
product_category_name                  category
product_name_lenght                     float64
product_description_lenght              float64
product_photos_qty                      float64
product_weight_g                        float64
product_length_cm                       float64
product_height_cm                       float64
product_width_cm                        float64
seller_zip_code_prefix                    int64
seller_city                            category
seller_state                           category
customer_unique_id                     category
customer_zip_code_prefix                  int64
customer_city                          category
customer_state                         category
delivery_days                             int64
days_late                                 int64
estimated_days                            int64
shipment_delay                            int64
islate                                   object
code_customer_id                          int32
code_customer_unique_id                   int32
code_customer_city                        int16
code_customer_state                        int8
code_order_id                             int32
code_product_id                           int32
code_seller_id                            int16
code_payment_type                          int8
code_review_id                            int32
code_order_status                          int8
code_product_category_name                 int8
code_seller_city                          int16
code_seller_state                          int8
dtype: object

In [72]:
customers_orders.to_csv("datasets/clean_df.csv")